



<div class="well col-xs-10 col-xs-offset-1">
  <h3 class="center"><strong><%= @article.title %></strong></h3>
 <hr>
 <h5 class="center"> By: <%= link_to @article.user.username, user_path(@article.user)  %></h5>
 <hr>
 <h4> <%= simple_format(@article.description) %> </h4>


<div class="article-actions">
  <%  if logged_in? && current_user == @article_user %>
    <%= link_to "Edit this Article", edit_article_path(@article), class: "btn btn-primary btn-md " %>
    <%= link_to "Delete this Article",article_path(@article), method: :delete, data: {confirm: "are you sure?"}, class: "btn btn-primary btn-md" %>
  <% end %>
    <%= link_to "View all Articles", articles_path, class: "btn btn-primary btn-md " %>
</div>

</div>
